body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}
header {
  display: block;
  height: 10vh;
  overflow: auto;
  background-color: black;
  color: red;
  font-size: 20px;
  padding: 10px;
}
 .container {
   height: 95vh;
   display: flex;
 }

 pre { background-color: #EFF0F1; }
 textarea { background-color: #3D3D3E; }
 button { 
  background-color: #0F5D92;
  margin: 10px;
  padding: 10px;
  font-family: monospace;
  font-size: 15px;
  color: #FAFAFB;
  outline: 0;
}

 textarea {
   width: 50%;
   font-family: monospace;
   font-size: 15px;
   margin: 10px;
   padding: 10px;
   color: #FAFAFB;
 }

pre {
  width: 50%;
  font-family: monospace;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  color: #2222;
}

 textarea:focus { outline: 0; }
 